body 
{
	font-family:Times New Roman, Serif;
	color:#FFFFFF;
	background-color;
	
}
para
{
    color:#FBF4F2;
    font-family:Courier New, Courier, monospace;
    background-color:#BCCFE7;
	
	
}
p
{
    background-color: #C2D98C;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}