/*Project MaplePak v0.0.0.1devEd
 *Date Created: 12/15/2022 12:52PM
 *Date Modified: 12/15/2022 12:53PM
 *Official Version: V0.0devEd
 *Project Purpose: MaplePak takes the stress out of styling and functionality by simply letting
 * 				   the user efficiently and quickly a website by just concentrating on the content.  
 * 				   However, will have to choose one's own colour scheme for own website. 
 *mapleMain.css file purpose:MaplePak's CSS was written in SCSS and compiled into css.  This is the main css file links are placed. 
 *Creator: William E Boswall 
*/
body 
{
	font-family:Times New Roman, Serif;
	font-size: 10em;
	color:#FFFFFF;
	background-color;
	
}
h1,h2,h3,h4,h5,h6
{
    color:#FBF4F2;
    font-family:Courier New, Courier, monospace;
    font-size:5em;
    margin: 50px; padding: 50px; border: 50px;
    background-color:#BCCFE7;
}
p
{
    background-color: #C2D98C;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1em;
    margin: 50px; padding:50px; border: 50px;


}