h1{
	color: purple;
	font-family: Arial;
}

p{
	color: blue;
	font-family: Tahoma;
 }

 .jumbtron{
	
}

.busLogo{
	
}

.menuBar{
	
}

.menuLinks{
	
}

.menuLinks li {
	
}

.imgTitle{
	
}

/*navigation bars*/
.leftSide{
	
}

.rightSide{
	
}

/*Article types*/
.aboutCompany{
	
	
}

/*Sections */
.secIntro{
	
}

.secClimax{
	
}

.secConclusion{
	
}

.subtitle{
	
}

.internalSubtitle{
	
	color:pink;
	
}

.poem{
	
	color:blue;
}
p {
	color: red; !important
}
.paragraph{
	
}
footer { 
	color:green; 
}